
<%= form_for @contract do |f| %>
      <% if @contract.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@contract.errors.count, "error") %> prohibited
      this post from being saved:</h2>
    <ul>
    <% @contract.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
    <% end %>
  </div>

    <h2>About You</h2>
    
    <table>
    <tr>
        <td>Company Name: </td>
        <td><%= f.text_field :compName %></td>
        <td><div class="table_head">Owner or Admin Contact: </div></td>
        <td><%= text_field_tag(:adminContact)%></td>
        <td><div class = "table_head">Computer/Hardware Contact: </td>
        <td><%= text_field_tag(:hard_contact)%></td>
    </tr>
    <tr>
        <td>Account Number: </td>
        <td><%= f.text_field :accountNum %></td>
        <td>Contact Phone: </td>
        <td><%= text_field_tag(:admin_phone)%></td>
        <td>Contact Phone: </td>
        <td><%= text_field_tag(:hard_phone)%></td>
    </tr>
    <tr>
        <td>Company Phone: </td>
        <td><%= f.text_field :compPhone %></td>
        <td>Contact Email: </td>
        <td><%= text_field_tag(:admin_email)%></td>
        <td>Contact Email: </td>
        <td><%= text_field_tag(:hard_email)%></td>
    </tr>
    <tr>
        <td>Company Fax: </td>
        <td><%= f.text_field :compFax %></td>
    </tr>
    </table>
    
   <h2>Shipping Address</h2>
  <table>
    <tr>
        <td>Street: </td>
        <td><%= f.text_field :shipStr %></td>
        <td>County: </td>
        <td><%= f.text_field(:shipCounty)%></td>
    </tr>
    <tr>
        <td>City: </td>
        <td><%= f.text_field :shipCity %></td>
        <td>Sales Tax Rate: </td>
        <td><%= f.text_field(:shipTax)%></td>
    </tr>
    <tr>
        <td>State: </td>
        <td><%= f.text_field(:shipSt)%></td>
    </tr>
    <tr>
        <td>Zip Code: </td>
        <td><%= f.text_field(:shipZip) %></td>
    </tr>
    
    
    
  </table>
  <h2>Billing Address</h2>
  <p>
    <%= f.label(:billShipChkLbl, "Same as Shipping Address")%>
    <%= f.check_box(:billShipChk)%>
  </p>
  <table>
    <tr>
        <td>Street: </td>
        <td><%= f.text_field :billStr %></td>
        <td>County: </td>
        <td><%= f.text_field(:billCounty)%></td>
    </tr>
    <tr>
        <td>City: </td>
        <td><%= f.text_field :billCity %></td>
        <td>Sales Tax Rate: </td>
        <td><%= f.text_field(:billTax)%></td>
    </tr>
    <tr>
        <td>State: </td>
        <td><%= f.text_field(:billSt)%></td>
    </tr>
    <tr>
        <td>Zip Code: </td>
        <td><%= f.text_field(:billZip) %></td>
    </tr>
  </table>
  
  <h2>How did you become aware of our services?</h2>
    <table cellspacing="0">
        <tr>
            <td>Magazine: <%= check_box_tag(:magazineChk)%> </td>
            <td>Trade Show: <%= check_box_tag(:tradeShowChk)%></td>
            <td>Friend: <%= check_box_tag(:friendChk)%></td>
            <td>Direct Mail: <%= check_box_tag(:friendChk)%></td>
            <td>Internet: <%= check_box_tag(:internetChk)%></td>
        </tr>
    </table>
    <table>
        <tr>
            <td>Sales Person: <%= text_field_tag(:salesPersTxt)%></td>
            <td>Referral: <%= text_field_tag(:referralTxt)%></td>
            <td>Other: <%= text_field_tag(:otherTxt)%></td>
        </tr>
    </table>
  <h2>Memberships</h2><p><div class="hint_text">(Select all desired to be displayed on Car-Part.com)</div></p>
  <table>
    <tr>
        <td>ARA: </td>
        <td><%= check_box_tag(:araChk)%> </td>
        <td>URG: </td>
        <td><%= check_box_tag(:urgChk) %></td>
        <td>URG 8000: </td>
        <td><%= check_box_tag(:urg8000Chk)%></td>
    </tr>
    <tr>
        <td>CARS: </td>
        <td><%= check_box_tag(:carsChk)%></td>
        <td>URG 6000: </td>
        <td><%= check_box_tag(:urg6000Chk)%></td>
    </tr>
    <tr>
        <td>Gold Seal: </td>
        <td><%= check_box_tag(:goldSealChk)%></td>
        <td>URG 7000: </td>
        <td><%= check_box_tag(:urg7000Chk)%></td>
        
    </tr>
  </table>
  <table>
    <tr>
        <td>State Organization: <%= text_field_tag(:stateOrg)%></td>
        <td>Local Organization: <%= text_field_tag(:localOrg)%></td>
    </tr>
  </table>
  
  <table>
    <tr>
        <td>None Displayed: <%= check_box_tag(:noMemChk)%></td>
    </tr>
  </table>
  <h2>Current Inventory Management System</h2>
  <select name="city_id" id="city_id">
    <option value="1">Internet Checkmate</option>
    <option value="2">Telnet Checkmate</option>
    <option value="3">Fast Parts</option>
    <option value="4">Pinnacle Classic</option>
    <option value="5">Pinnacle Pro</option>
    <option value="6">AIM</option>
    <option value="7">iSoft</option>
    <option value="8">Hollander</option>
    <option value="9">Powerlink</option>
    <option value="10">Powerlink II</option>
    <option value="11">Powerlink II w/Hollander PowerStation</option>
    <option value="12">Other</option>
    <option value="13">None</option>
    
  </select>
  
  <table>
    <tr>
        <td>Other: <%= text_field_tag(:otherIMS)%></td>
    </tr>
    <tr>
        <td>None: <%= check_box_tag(:noIMSChk)%></td>
    </tr>
  </table>
    <br>
      <%= f.submit 'Submit Contract', :class => 'submit_button' %>
  <script>
    
    $("button").on("click", function() {
      alert("clicked!")
    });
  </script>
<% end %>
<br>
