<head>
    
</head>
<body>
<%= stylesheet_link_tag "new_style_sheet.css" %>
    <header>
    <a href="http://imgur.com/qYhF7gF"><img src="http://i.imgur.com/Zt6y8Mr.jpg"/></a>
    <h1>New Contract</h1>
    <div class="top_nav">
      <%= link_to 'Home', root_path %>
      <%= link_to 'Contract List', contracts_path %>
      </div>
  </header>

<%= render 'form' %>
<div class = "footer">
<br>
<br>
<br>
    <div class="bottom_nav" ><%= link_to 'Home', root_path %>
    <%= link_to 'Contract List', contracts_path %>
    </div>
    
<br>
</div>
</body>
