<p>
    <strong>Company Name: </strong>
    <%= @contract.compName %><br>
    <strong>Account Number: </strong>
    <%= @contract.accountNum %><br>
    <strong>Company Phone Number: </strong>
    <%= @contract.compPhone %><br>
    <strong>Company Fax Number: </strong>  
    <%= @contract.compFax %>

</p>

<%= link_to 'View Contract List', contracts_path %>
